<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
            <add name="FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python310\python.exe|C:\Python310\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
            <add name="procurement-portal" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\KEPHIS-PROCUREMENT\venv\Scripts\python.exe| &quot;C:\Users\Navadmin\AppData\Local\Programs\Python\Python310\Lib\site-packages\wfastcgi.py&quot;" resourceType="Unspecified" />
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python39\python.exe|C:\Python39\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>

  <appSettings>
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\KMPDC-PROCUREMENT" />
    <add key="WSGI_HANDLER" value="KMPDC.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="KMPDC.settings" />
  </appSettings>
</configuration>