@import url('https://fonts.googleapis.com/css2?family=Gelasio&family=Titillium+Web:wght@200&display=swap');

:root {
    --header-height: 3rem;
    --nav-width: 76px;
    --first-color: #144a85;
    --first-color-light: #6c8aaf;
    --green-color: #25CC88;
    --red-color: #e51e25;
    --sand-tan: #e1b382;
    --dark-color: #444a4a;
    --olive: #A3BCB6;
    --white-color: #F7F6FB;
    --normal-font-size: 1rem;
    --z-fixed: 100;
    --primary-font: 'Gelasio', serif;
    --normal-font: 'Titillium Web', sans-serif;
}

/* Alerts */
.alert-warn {
    background: var(--red-color);
    border-color: var(--red-color);
    color: white;
}

.alert-success {
    background: var(--green-color);
    border-color: var(--green-color);
    color: white;
}

.a-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.a-icon i {
    font-size: 2rem;
}