@import url('https://fonts.googleapis.com/css2?family=Gelasio&family=Titillium+Web:wght@200&display=swap');

:root {
    --header-height: 3rem;
    --nav-width: 76px;
    --first-color: #02a552;
    --first-color-light: #6c8aaf;
    --green-color: #134326;
    --red-color: #e51e25;
    --sand-tan: #e1b382;
    --dark-color: #444a4a;
    --olive: #A3BCB6;
    --white-color: #F7F6FB;
    --normal-font-size: 1rem;
    --z-fixed: 100;
    --primary-font: 'Gelasio', serif;
    --normal-font: 'Titillium Web', sans-serif;
}
body {
    background: #181824;
    scroll-behavior: smooth;
    height: auto;
}

/* Alerts */
.alert-warn {
    background: red;
    border-color: red;
    color: white;
}

.alert-success {
    background: #02a552;
    border-color: #02a552;
    color: white;
}


.a-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.a-icon i {
    font-size: 2rem;
}

/* details */
#regForm {
    background-color: #ffffff;
    width: 100%;
    padding: 10px;
}

h1 {
    text-align: left;
    font-family: var(--primary-font);
    font-size: 1rem;
}

.w-name {
    font-family: var(--primary-font);
    color: var(--green-color);
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: var(--normal-font);
    border: 1px solid var(--dark-color);
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
}

button {
    background-color: var(--first-color);
    color: #ffffff;
    font-family: var(--normal-font);
    border: 1px solid var(--first-color);
    padding: 10px 20px;
    font-size: 17px;
    border-radius: 40px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: var(--sand-tan);
    font-family: var(--normal-font);
    color: #000;
}

.myForm {
    background: white;
    padding: 1rem;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--red-color);
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: var(--green-color);
}

.general-bg {
    min-height: 100vh;
    background: url(../img/bg/1.jpg);
    background-attachment: fixed;
}

.form-label {
    padding-top: calc(0.94rem + 1px);
    padding-bottom: calc(0.94rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    font-family: var(--primary-font);
    line-height: 1;
    color: #000;
}

.form-control,
.form-select {
    color: #3f3f3f;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #28a745;
    border-radius: 0;
    font-family: var(--primary-font);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.inst-text {
    color: #2C3E50;
}


.file-man-box {
    padding: 10px;
    border: 1px solid #e3eaef;
    border-radius: 5px;
    position: relative;
    margin-bottom: 20px;
}
.btn-down i{
    font-size: 1rem !important;
    color: #fff;
}

.file-man-box .file-close {
    color: #f1556c;
    border: none;
    outline: none;
    position: absolute;
    line-height: 24px;
    font-size: 24px;
    right: 10px;
    top: 10px;
    background: none;
    visibility: hidden
}

.file-man-box .file-img-box {
    line-height: 120px;
    text-align: center
}

.file-man-box .file-img-box img {
    height: 64px
}

.file-man-box .file-download {
    font-size: 30px;
    color: #98a6ad;
    position: absolute;
    bottom: 5px;
    right: 1px;
    background: none;
    border: none;
}

.file-man-box .file-download:hover {
    color: #313a46
}

.file-man-box .file-man-title {
    padding-right: 10px
}
.file-man-title h5{
    font-size: 10px !important;
}

.file-man-box:hover {
    -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, .06), 0 1px 0 0 rgba(0, 0, 0, .02);
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, .06), 0 1px 0 0 rgba(0, 0, 0, .02)
}

.file-man-box:hover .file-close {
    visibility: visible
}

.profile-button {
    background: var(--first-color);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: var(--first-color)
}

.profile-button:focus {
    background: var(--first-color);
    box-shadow: none
}

.profile-button:active {
    background: var(--first-color);
    box-shadow: none
}

.back:hover {
    color: var(--first-color);
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}