@import url('https://fonts.googleapis.com/css2?family=Gelasio&family=Hind:wght@300&family=Titillium+Web:wght@200&display=swap');


:root {
    --first-color: #144a85;
    --first-color-light: #6c8aaf;
    --green-color: #25CC88;
    --red-color: #e51e25;
    --sand-tan: #e1b382;
    --dark-color: #444a4a;
    --olive: #A3BCB6;
    --white-color: #F7F6FB;
    --primary-font: 'Gelasio', serif;
    --normal-font: 'Titillium Web', sans-serif;
    --third-font: 'Hind', sans-serif;

}

.footer {
    background: var(--green-color);
    height: 60px;
    bottom: 0;
    right: 0;
    width: 100%;
    position: absolute;
}

.foots {
    padding-left: 340px;
    margin-top: 24px;
    font-size: 14px;
    color: #fff;
    font-family: var(--third-font);
}

.f1 {
    display: inline-block;
    font-size: 14px;
}

.f2 {
    display: inline-block;
    float: right;
    margin-right: 40px;
}

.br {
    color: black;
}

.br:hover {
    color: var(--first-color);
}