{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}

<section>
    <div class="content-wrapper general-bg" style="padding-bottom: 5rem ">
        <div class="row" id="proBanner">
            <div class="col-12">
                <span class="d-flex align-items-center purchase-popup">
                    <img src="../../../static/img/logo/fav.png" width="70px" class="img-fluid" alt="" srcset="">
                    <a href="{% url 'proposal' %}" class="btn purchase-button">View Profile <i
                            class="las la-user-circle fill-white" style="font-size:1rem;color: white;"></i></a>
                </span>
            </div>
        </div>
        <div class="d-xl-flex justify-content-between align-items-start">
            <h2 class="text-dark font-weight-bold mb-2"> Overview dashboard </h2>
            <div class="d-sm-flex justify-content-xl-between align-items-center mb-2">
                <div class="dropdown ml-0 ml-md-4 mt-2 mt-lg-0">
                    <button class="btn bg-white dropdown-toggle p-3 d-flex align-items-center" type="button"
                        id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                            class="mdi mdi-calendar mr-1"></i>{{today}}
                    </button>
                </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-md-3">
                <div class="card text-white bg-primary h-100 d-card">
                    <div class="card-body">
                        <span>
                            <i class="las la-box-open fill-white" style="font-size:2rem;"></i>
                            <a href="{% url 'open' %}"
                                style="float: right; color:rgb(255, 255, 255);font-weight: bold;  text-shadow: 0 1px 0 #0275d8;">View
                                <i class="las la-arrow-right"></i></a>
                        </span>
                        <h3 class="card-title mt-3 mb-0">{{All_T}}</h3>
                        <p class="card-text" style="text-shadow: 0 1px 0 #0275d8;">Open Tenders</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-white bg-success h-100 d-card">
                    <div class="card-body">
                        <span>
                            <i class="las la-lock fill-white" style="font-size:2rem;"></i>
                            <a href="{% url 'restricted' %}"
                                style="float: right; color:white;font-weight: bold;  text-shadow: 0 1px 0 #5cb85c;">View
                                <i class="las la-arrow-right"></i></a>
                        </span>
                        <h3 class="card-title mt-3 mb-0">{{RES}}</h3>
                        <p class="card-text" style="text-shadow: 0 1px 0 #5cb85c;">Restricted Tenders</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-white bg-danger h-100 d-card">
                    <div class="card-body">
                        <span>
                            <i class="las la-briefcase fill-white" style="font-size:2rem;"></i>
                            <a href="{% url 'quote' %}"
                                style="float: right; color:white;font-weight: bold;  text-shadow: 0 1px 0 #d9534f;">View
                                <i class="las la-arrow-right"></i></a>
                        </span>
                        <h3 class="card-title mt-3 mb-0">{{RFQ}}</h3>
                        <p class="card-text" style="text-shadow: 0 1px 0 #d9534f;">Request For Quotation</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-white bg-info h-100 d-card">
                    <div class="card-body">
                        <span>
                            <i class="las la-edit fill-white" style="font-size:2rem;"></i>
                            <a href="{% url 'interest' %}"
                                style="float: right; color:white;font-weight: bold;  text-shadow: 0 1px 0 #9933CC;">View
                                <i class="las la-arrow-right"></i></a>
                        </span>
                        <h3 class="card-title mt-3 mb-0">{{EOI}}</h3>
                        <p class="card-text" style="text-shadow: 0 1px 0 #9933CC;">Expression Of Interest</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-6">
                <div class="card h-100" id="d-card">
                    <div class="card-title">
                        <h6>
                            All Tenders
                        </h6>
                    </div>
                    <div class="card-body">
                        <div class="card p-3 h-100" style="background: #CCCCFF;">
                            <canvas id="myChart"></canvas>
                            <script>
                                const labels = [
                                    'Closed Tenders',
                                    'Open Tenders',
                                ];
                                // chart variables
                                var Close = "{{Close}}"
                                var Actives = "{{Actives}}"
                                const data = {
                                    labels: labels,
                                    datasets: [{
                                        label: 'Distribution of Tenders ',
                                        // backgroundColor: 
                                        backgroundColor: [
                                            '#ff5e6c',
                                            '#8076a3',
                                        ],
                                        borderColor: '#ff5e6c',
                                        data: [Close, Actives],
                                    }]
                                };

                                const config = {
                                    type: 'line',
                                    data: data,
                                    options: {}
                                };
                            </script>
                            <script>
                                const myChart = new Chart(
                                    document.getElementById('myChart'),
                                    config
                                );
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card h-100" id="d-card">
                    <div class="card-title">
                        <h6>
                            Active Tender Notices
                        </h6>
                    </div>
                    <div class="card-body">
                        <div class="card p-3 h-100" style="background: #ebc9a6;">
                            <canvas id="allChart"></canvas>
                            <script>
                                const mylabels = [
                                    'Open Tenders',
                                    'Restricted Tenders',
                                    'Request for Proposal',
                                    'Request for Quotation',
                                    'Expression of Interest',
                                ];
                                // chart variables
                                var open = "{{Active_O}}"
                                var restTender = "{{RES_A}}"
                                var RFP = "{{RFP_A}}"
                                var RFQ = "{{RFQ_A}}"
                                var EOI = "{{EOI_A}}"
                                const datas = {
                                    labels: mylabels,
                                    datasets: [{
                                        label: 'Active Tenders ',
                                        // backgroundColor: 
                                        backgroundColor: [
                                            '#ff5e6c',
                                            '#8076a3',
                                            '#ffde22',
                                            'rgb(54, 162, 235)',
                                            '#101357'
                                        ],
                                        borderColor: '#ff5e6c',
                                        data: [open, restTender, RFP, RFQ, EOI],
                                    }]
                                };

                                const configs = {
                                    type: 'bar',
                                    data: datas,
                                    options: {}
                                };
                            </script>
                            <script>
                                const myCharts = new Chart(
                                    document.getElementById('allChart'),
                                    configs
                                );
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}