{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}

<section>
    <div class="content-wrapper pb-2">
        <div class="row" id="proBanner">
            <div class="col-12">
                <span class="d-flex align-items-center purchase-popup">
                    <img src="../../../static/img/logo/fav.png" width="70px" class="img-fluid" alt="" srcset="">
                    <a href="#" target="_blank" class="btn ml-auto download-button"> View Profile <i
                            class="las la-user-circle fill-white" style="font-size:1.2rem;color: white;"></i></a>
                    <a href="#" target="_blank" class="btn purchase-button">Request For Proposal</a>
                </span>
            </div>
        </div>
        <div class="d-xl-flex justify-content-between align-items-start">
            <h2 class="text-dark font-weight-bold mb-2"> Overview dashboard </h2>
            <div class="d-sm-flex justify-content-xl-between align-items-center mb-2">
                <div class="dropdown ml-0 ml-md-4 mt-2 mt-lg-0">
                    <button class="btn bg-white dropdown-toggle p-3 d-flex align-items-center" type="button"
                        id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                            class="mdi mdi-calendar mr-1"></i>{{today}}
                    </button>
                </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-md-3">
                <div class="card text-white bg-primary h-100 d-card">
                    <div class="card-body">
                        <span>
                            <i class="las la-box-open fill-white" style="font-size:2rem;"></i>
                            <a href="" style="float: right; color:white">View <i class="las la-arrow-right"></i></a>
                        </span>
                        <h3 class="card-title mt-3 mb-0">{{open}}</h3>
                        <p class="card-text">Open Tenders</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-white bg-success h-100 d-card">
                    <div class="card-body">
                        <span>
                            <i class="las la-lock fill-white" style="font-size:2rem;"></i>
                            <a href="" style="float: right; color:white">View <i class="las la-arrow-right"></i></a>
                        </span>
                        <h3 class="card-title mt-3 mb-0">{{restrict}}</h3>
                        <p class="card-text">Restricted Tenders</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-white bg-danger h-100 d-card">
                    <div class="card-body">
                        <span>
                            <i class="las la-briefcase fill-white" style="font-size:2rem;"></i>
                            <a href="" style="float: right; color:white">View <i class="las la-arrow-right"></i></a>
                        </span>
                        <h3 class="card-title mt-3 mb-0">{{rfq}}</h3>
                        <p class="card-text">Request For Quotation</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-white bg-info h-100 d-card">
                    <div class="card-body">
                        <span>
                            <i class="las la-edit fill-white" style="font-size:2rem;"></i>
                            <a href="" style="float: right; color:white">View <i class="las la-arrow-right"></i></a>
                        </span>
                        <h3 class="card-title mt-3 mb-0">{{EOI}}</h3>
                        <p class="card-text">Expression Of Interest</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-12">
                <div class="card p-3 h-100" style="background: #ebc9a6;">
                    <canvas id="myChart"></canvas>
                    <script>
                        const labels = [
                            'Open Tenders',
                            'Restricted Tenders',
                            'Request for Proposal',
                            'Request for Quotation',
                            'Expression of Interest',
                        ];
                        // chart variables
                        var open = "{{open}}"
                        var restTender = "{{restrict}}"
                        var rfq = "{{rfq}}"
                        var EOI = "{{EOI}}"
                        var RFP = "{{RFP}}"
                        const data = {
                            labels: labels,
                            datasets: [{
                                label: 'Distribution of Tenders ',
                                // backgroundColor: 
                                backgroundColor: [
                                    '#ff5e6c',
                                    '#8076a3',
                                    '#ffde22',
                                    'rgb(54, 162, 235)',
                                    '#101357'
                                ],
                                borderColor: '#ff5e6c',
                                data: [open, restTender, RFP, rfq, EOI],
                            }]
                        };

                        const config = {
                            type: 'bar',
                            data: data,
                            options: {}
                        };
                    </script>
                    <script>
                        const myChart = new Chart(
                            document.getElementById('myChart'),
                            config
                        );
                    </script>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}