{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<section class="dash1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col md-12">
                <div class="d-head">
                    <div class="row">
                        <div class="col-sm-1 col-md-1">
                            <div class="d-icon mx-auto text-center">
                                <img src="../../../static/img/logo/fav.png" width="100px" class="img-fluid" alt=""
                                    srcset="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-text">
                                <h4>
                                    Submitted Expression of Interests
                                </h4>
                                <p>
                                    Kenya Medical Practitioners and Dentists Council
                                </p>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="d-items">
                                <ul class="breadcrumb">
                                    <li><a href="#">Dashboard</a></li>
                                    <li>Submitted Expression of Interests</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="dash2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" id="d-card">
                    <div class="card-title">
                        <h6>
                            Submitted Expression of Interests
                        </h6>
                    </div>
                    <div class="card-body" id="res_card">
                        <table id="example"
                            class="table  table-striped table-bordered table-hover dt-responsive nowrap ">
                            <thead>
                                <tr>
                                    <th>EOI No.</th>
                                    <th>Description</th>
                                    <th>Date Published</th>
                                    <th>Closing Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>


                            <tbody>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>2011/04/25</td>
                                </tr>
                                <tr>
                                    <td>Garrett Winters</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>63</td>
                                    <td>2011/07/25</td>
                                </tr>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>2011/04/25</td>
                                </tr>
                                <tr>
                                    <td>Garrett Winters</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>63</td>
                                    <td>2011/07/25</td>
                                </tr>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>2011/04/25</td>
                                </tr>
                                <tr>
                                    <td>Garrett Winters</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>63</td>
                                    <td>2011/07/25</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'footer.html' %}
{% endblock %}