{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<section class="dash2">
    <div class="content-wrapper" style="padding-bottom: 13rem;">
        <div class="d-xl-flex justify-content-between align-items-start">
            <h2 class="text-dark font-weight-bold mb-2"> Open Tender Details</h2>
            <div class="d-sm-flex justify-content-xl-between align-items-center mb-2">
                <div class="dropdown ml-0 ml-md-4 mt-2 mt-lg-0">
                    <button class="btn bg-white dropdown-toggle p-3 d-flex align-items-center" type="button"
                        id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                            class="mdi mdi-calendar mr-1"></i>{{today}}
                    </button>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="card p-3" id="dt-card">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="detail my-2">
                                <h5>
                                    Details For Tender No: <span style="color: black;">{{res.No}}</span>
                                </h5>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="card h-100 p-3">
                                        <ul>
                                            <li class="text-dark">Tender No: <span style="color:green">{{res.No}}</span>
                                            </li>
                                            <li class="text-dark">TenderTitle: <span
                                                    style="color:green">{{res.Title}}</span></li>
                                            <li class="text-dark">Tender Opening Date:
                                                <span style="color:green">{{res.TenderOpeningDate}}</span></li>
                                            <li class="text-dark">Tender Closing Date:
                                                <span style="color:green">{{res.TenderClosingDate}}</span></li>
                                        </ul>
                                        <!-- Danger alert -->
                                        {% if note %}
                                        <div class="alert alert-danger d-flex align-items-center alert-dismissible alert-success"
                                            role="alert">
                                            <i class="las la-exclamation-triangle"
                                                style="color: white;font-size: 2rem"></i>
                                            <div class="a-icon mx-2">
                                                {{note}}
                                            </div>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                aria-label="Close"></button>
                                        </div>
                                        {% else %}
                                        <div class="alert alert-danger d-flex align-items-center alert-dismissible alert-warn"
                                            role="alert">
                                            <i class="las la-exclamation-triangle"
                                                style="color: white;font-size: 2rem"></i>
                                            <div class="a-icon mx-2">
                                                {{warn}}
                                            </div>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                aria-label="Close"></button>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card h-100 p-3">
                                        <ul>
                                            <li class="text-dark">Tender ItemNo: <span
                                                    style="color:green">{{res.ItemNo}}</span>
                                            </li>
                                            <li class="text-dark">Tender Description: <span
                                                    style="color:green">{{res.Description}}</span></li>
                                            <li class="text-dark">Unit of Measure: <span
                                                    style="color:green">{{res.Unit_of_Measure}}</span></li>
                                            <li class="text-dark">Tender Unit Price:
                                                <span style="color:green">{{res.Unit_Price}}</span></li>
                                            <li class="text-dark">Tender Amount:
                                                <span style="color:green">{{res.Amount}}</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card h-100 p-3">
                                        <h5>Required Documents</h5>
                                        {% for docs in docs %}
                                        <div class="card doc-card mt-4 p-3">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <i class="las la-file-upload"
                                                        style="color: red;font-size:1.5rem"></i>
                                                </div>
                                                <div class="col-md-9">
                                                    <strong class="text-dark">{{docs.DocumentName}}</strong>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                        Respond To Tender
                    </button>

                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Response -
                                        {{res.No}}
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form method="post" action="{% url 'Odetails' res.No %}">
                                        {% csrf_token %}
                                        <div class="mb-2"> <span class="w-name">
                                                Mandatory Requirements:
                                            </span>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label for="">Attachment 1:</label>
                                                    <input type="file" class="form-control" name="file1">
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="">Attachment 2:</label>
                                                    <input type="file" class="form-control" name="file2">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-2"> <span class="w-name">
                                                Technical Requirements:
                                            </span>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label for="">Attachment 1:</label>
                                                    <input type="file" class="form-control" name="file3">
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="">Attachment 2:</label>
                                                    <input type="file" class="form-control" name="file4">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab"> <span class="w-name">
                                                Financial Requirements:
                                            </span>
                                            <div>
                                                <label for="recipient-name" class="col-form-label">Amount:</label>
                                                <input type="text" class="form-control" name="amount"
                                                    id="recipient-name" placeholder="Ksh">
                                            </div>
                                        </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger"
                                        data-bs-dismiss="modal">Discard</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}