{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<section class="dash2">
    <div class="content-wrapper" style="padding-bottom: 3rem;">
        <div class="d-xl-flex justify-content-between align-items-start">
            <h2 class="text-dark font-weight-bold mb-2"> {{res.Title}} Details

                {% if Status == Approved %}
                <form action="{% url 'fnCreateprospectiveSupplierTender' res.No %}" method="post" style="display:inline-block;" hidden>
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="hidden" name="tenderNo" value="{{res.No}}">
                        <input type="hidden" name="procurementMethod" value="0">
                        <input type="hidden" name="myAction" value="insert">
                    </div>
                    <button type="submit" id="submit-button" class="btn btn-primary my-3">Respond to
                        {{res.Process_Type}}</button>
                </form>
                
                {% for res in file %}
                <form action="{% url 'Odetails' res.No_ %}" method="post" style="display:inline-block;">
                    {% csrf_token %}
                    <input type="hidden" name="attachmentID" value="{{res.AuxiliaryIndex3}}">
                    <input type="hidden" name="File_Name" value="{{res.File_Name}}">
                    <input type="hidden" name="File_Extension" value="{{res.File_Extension}}">
                    <button class="btn btn-info" type="submit"><i class="fa fa-download"></i> {{res.File_Name}}</button>
                </form>
                {% endfor %}
                {% endif %}
            </h2>
            <div class="d-sm-flex justify-content-xl-between align-items-center mb-2">
                <div class="dropdown ml-0 ml-md-4 mt-2 mt-lg-0">
                    <button class="btn bg-white dropdown-toggle p-3 d-flex align-items-center" type="button"
                        id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                            class="mdi mdi-calendar mr-1"></i>{{today}}
                    </button>
                </div>
            </div>
        </div>
        <!--alert -->
        {% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success d-flex align-items-center alert-dismissible alert-success" role="alert">
            <i class="las la-check-double" style="color: white;font-size: 2rem"></i>
            <div class="a-icon mx-2">
                {{message}}
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger d-flex align-items-center alert-dismissible alert-warn" role="alert">
            <i class="las la-exclamation-triangle" style="color: white;font-size: 2rem"></i>
            <div class="a-icon mx-2">
                {{message}}
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        
        <div class="row my-3">
            <div class="col-md-3">
                <div class="card l-bg-cherry statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-dollar-sign"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Procurement Method</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{res.TenderType}}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card l-bg-blue-dark statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Tender Status</h5>
                        </div>
                        {% if res.Status == "Approved" %}
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{res.Status}}
                                </h2>
                            </div>

                        </div>
                        <div class="progress mt-1 " data-height="8" style="height: 8px;">
                            <div class="progress-bar l-bg-red" role="progressbar" data-width="50%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100"
                                style="width: 50%; background: linear-gradient(to right, #a86008, #c18b39) !important;">
                            </div>
                        </div>
                        {% elif res.Status == "Archived" %}
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    Submitted
                                </h2>
                            </div>

                        </div>
                        <div class="progress mt-1 " data-height="8" style="height: 8px;">
                            <div class="progress-bar l-bg-green" role="progressbar" data-width="100%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100"
                                style="width: 100%; background: linear-gradient(to right, #a86008, #c18b39) !important;">
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card l-bg-green-dark statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-calendar-alt"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">{{res.Process_Type}} Opening Date</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{res.TenderOpeningDate}}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card l-bg-orange-dark statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-calendar-times"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">{{res.Process_Type}} Closing Date</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{res.TenderClosingDate}}
                                </h2>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form class="row g-3">
                    <div class="col-md-4">
                        <label class="form-label">{{res.Process_Type}} Number</label>
                        <input type="text" class="form-control" placeholder="{{res.No}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Title</label>
                        <input type="text" class="form-control" placeholder="{{res.Title}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Ref No</label>
                        <input type="text" class="form-control" placeholder="{{res.RefNo}}" readonly>
                    </div>
                   
                </form>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="card p-3" id="dt-card">
                    <div class="row">
                        <div class="col-md-12">
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card" id="d-card">
                                        <div class="card-title">
                                            <h6>
                                                {{res.Process_Type}} Lines ({{res.No}})
                                            </h6>
                                        </div>
                                        <div class="card-body">
                                            <table id="example"
                                                class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                                style="width:100%">
                                                <thead>
                                                    <tr id="tops">
                                                        
                                                        <th>Description</th>
                                                        <th>Unit of Measure</th>
                                                        <th>Quantity</th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for res in line %}
                                                    <tr>
                                                        
                                                        <td>{{res.Description}}</td>
                                                        <td>{{res.Unit_of_Measure}}</td>
                                                        <td>{{res.Quantity}}</td>
                                                        
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                               
                                
                            </div>

                        </div>
                    </div>
                    <form action="{% url 'fnCreateprospectiveSupplierTender' res.No %}" method="post" style="display:inline-block;" >
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="hidden" name="tenderNo" value="{{res.No}}">
                            <input type="hidden" name="procurementMethod" value="0">
                            <input type="hidden" name="myAction" value="insert">
                        </div>
                        <button type="submit" id="submit-button" class="btn btn-primary my-3">Respond to
                            {{res.Process_Type}}</button>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</section>

{% endblock %}
