{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<section class="dash2">
    <div class="content-wrapper" style="padding-bottom: 13rem;">
        <div class="d-xl-flex justify-content-between align-items-start">
            <h2 class="text-dark font-weight-bold mb-2"> Open Tender Details</h2>
            <div class="d-sm-flex justify-content-xl-between align-items-center mb-2">
                <div class="dropdown ml-0 ml-md-4 mt-2 mt-lg-0">
                    <button class="btn bg-white dropdown-toggle p-3 d-flex align-items-center" type="button"
                        id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                            class="mdi mdi-calendar mr-1"></i>{{today}}
                    </button>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="card p-3" id="dt-card">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="detail my-2">
                                <h5>
                                    Details For Tender No: <span style="color: black;">{{res.No}}</span>
                                </h5>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="card h-100 p-3 d-cards">
                                        <form>
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label text-dark">Tender
                                                    No</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1"
                                                    placeholder="{{res.No}}" readonly>
                                            </div>
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label text-dark">Tender
                                                    Title</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1"
                                                    placeholder="{{res.Title}}" readonly>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label for="exampleInputEmail1"
                                                            class="form-label text-dark">Tender Opening Date</label>
                                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                                            placeholder="{{res.TenderOpeningDate}}" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label for="exampleInputEmail1"
                                                            class="form-label text-dark">Tender Closing Date</label>
                                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                                            placeholder="{{res.TenderClosingDate}}" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <!-- Danger alert -->
                                        {% if note %}
                                        <div class="alert alert-danger d-flex align-items-center alert-dismissible alert-success"
                                            role="alert">
                                            <i class="las la-check-double" style="color: white;font-size: 2rem"></i>
                                            <div class="a-icon mx-2">
                                                {{note}}
                                            </div>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                aria-label="Close"></button>
                                        </div>
                                        <div></div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card h-100 p-3 d-cards">
                                        <div class="card p-2 data-card">
                                            <div class="row">

                                                <div class="col-md-12">
                                                    <p class="text-dark" style="font-weight:bold">Tender Item No: <span
                                                            style="color:green">{{res.ItemNo}}</span>
                                                    </p>
                                                    <hr>
                                                    <div class="p-2">
                                                        <p class="text-dark" style="font-weight:bold"><i
                                                                class="las la-clipboard-list"></i> Tender Description:
                                                            <span style="color:green">{{res.Description}}</span></p>
                                                        <p class="text-dark" style="font-weight:bold"><i
                                                                class="las la-balance-scale"></i> Unit of Measure: <span
                                                                style="color:green">{{res.Unit_of_Measure}}</span></p>
                                                        <p class="text-dark" style="font-weight:bold"><i
                                                                class="las la-coins"></i> Tender Unit Price:
                                                            <span style="color:green">{{res.Unit_Price}}</span></p>
                                                        <p class="text-dark" style="font-weight:bold"><i
                                                                class="las la-coins"></i> Tender Amount:
                                                            <span style="color:green">{{res.Amount}}</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <ul>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card h-100 p-3">
                                        <h5>Required Documents</h5>
                                        {% for docs in docs %}
                                        <div class="card doc-card mt-4 p-3">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <i class="las la-file-upload"
                                                        style="color: red;font-size:1.5rem"></i>
                                                </div>
                                                <div class="col-md-9">
                                                    <strong class="text-dark">{{docs.DocumentName}}</strong>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                        Respond To Tender
                    </button>

                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Response -
                                        {{res.No}}
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form method="post" action="{% url 'Odetails' res.No %}" class="needs-validation"
                                        novalidate>
                                        {% csrf_token %}
                                        {% if docs %}
                                        <div class="mb-2"> <span class="w-name">
                                                Mandatory Requirements:
                                            </span>
                                            <div class="row">
                                                {% for docs in docs %}
                                                <div class="col-md-6">
                                                    <label for="">{{docs.DocumentName}}:</label>
                                                    <input type="file" class="form-control" name="file1">
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>

                                        {% endif %}
                                        <div class="tab"> <span class="w-name">
                                                Financial Requirements:
                                            </span>
                                            <div>
                                                <label for="recipient-name" class="col-form-label">Amount:</label>
                                                <input type="text" class="form-control" name="amount"
                                                    id="recipient-name" placeholder="Ksh" required>
                                                <div class="invalid-feedback">
                                                    Please provide the amount.
                                                </div>
                                            </div>
                                        </div>
                                        <script>
                                            // Example starter JavaScript for disabling form submissions if there are invalid fields
                                            (function () {
                                                'use strict'

                                                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                                                var forms = document.querySelectorAll('.needs-validation')

                                                // Loop over them and prevent submission
                                                Array.prototype.slice.call(forms)
                                                    .forEach(function (form) {
                                                        form.addEventListener('submit', function (event) {
                                                            if (!form.checkValidity()) {
                                                                event.preventDefault()
                                                                event.stopPropagation()
                                                            }

                                                            form.classList.add('was-validated')
                                                        }, false)
                                                    })
                                            })()
                                        </script>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger"
                                        data-bs-dismiss="modal">Discard</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}