{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
<section>

    <body id="body-pd">
        <header class="header" id="header">
            <div class="header_toggle">
                <i class='las la-bars' id="header-toggle"></i>
                <h5 class="titles">
                    E-Procurement Portal
                </h5>
            </div>
            <div class="header_img">
                <img src="../../../static/img/logo/pp.jpeg" class="img-fluid" alt="">
            </div>
        </header>
        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div>
                    <a href="#" class="nav_logo">
                        <i class='las la-industry' style="font-size:22px"></i>
                        <span class="nav_logo-name">KMPDC</span>
                    </a>

                    <div class="nav_list" id="big">
                        <li>
                            <a href="{% url 'dashboard' %}" class="nav_link active">
                                <i class="las la-grip-horizontal nav_icon"></i>
                                <span class="nav_name">Dashboard</span><i class="las la-arrow-right" id="care"
                                    style="color: green;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#menu2" data-toggle="collapse" aria-expanded="false" class="nav_link" type="button"
                                data-bs-parent="menu2">
                                <i class="las la-briefcase" style="font-size:22px"></i>
                                <span class="nav_name">Tenders</span><i class="las la-angle-down" id="care"></i>
                            </a>
                            <ul class="collapse list-unstyled smalls" id="menu2">
                                <li>
                                    <a class="nav_link" href="{% url 'open' %}">Open Tenders</a>
                                </li>
                                <li>
                                    <a class="nav_link" href="{% url 'restricted' %}">Restricted Tenders</a>
                                </li>
                                <li>
                                    <a class="nav_link" href="{% url 'closed' %}">Closed Tenders</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'quote' %}" class="nav_link">
                                <i class="las la-file-alt nav_icon"></i>
                                <span class="nav_name">Request For Quotation</span><i class="las la-arrow-right"
                                    id="care" style="color: green;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'interest' %}" class="nav_link">
                                <i class="las la-check-circle nav_icon"></i>
                                <span class="nav_name">Expression of Interest</span><i class="las la-arrow-right"
                                    id="care" style="color: green;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#menu" data-toggle="collapse" aria-expanded="false" class="nav_link" type="button">
                                <i class="las la-check-double" style="font-size:22px"></i>
                                <span class="nav_name">Submitted Applications</span><i class="las la-angle-down"
                                    id="care"></i>
                            </a>
                            <ul class="collapse list-unstyled smalls" id="menu">
                                <li>
                                    <a class="nav_link" href="{% url 'sub_open' %}">Open Tenders</a>
                                </li>
                                <li>
                                    <a class="nav_link" href="{% url 'sub_res' %}">Restricted Tenders</a>
                                </li>
                                <li>
                                    <a class="nav_link" href="{% url 'sub_rfq' %}">Request For Quotation</a>
                                </li>
                                <li>
                                    <a class="nav_link" href="{% url 'sub_int' %}">Expression of Interest</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'profile' %}" class="nav_link">
                                <i class="las la-user-circle nav_icon"></i>
                                <span class="nav_name">Profile</span><i class="las la-arrow-right" id="care"
                                    style="color: green;"></i>
                            </a>
                        </li>
                        <a href="{% url 'auth' %}" class="nav_link">
                            <i class="las la-sign-out-alt" style="font-size:22px"></i>
                            <span class="nav_name">Logout</span><i class="las la-arrow-right" id="care"
                                style="color: green;"></i>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="height-100 py-4">
            {% block main %}
            {% endblock %}
        </div>
</section>

{% endblock %}